{
  "extends": ["plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "tsconfigRootDir": "./src",
    "ecmaVersion": 11,
    "sourceType": "module"
  }
}
